.footer {
    position: relative;
    margin: 92px auto 0;
    padding: 0 0 24px;
    max-width: 92.5%;
}
@media screen and (max-width: 1024px){
    .footer {
        max-width: 90.625%;
    }
}
@media screen and (max-width: 768px){
    .footer {
        max-width: 93.75%;
        margin: 88px auto 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 650px){
    .footer {
        max-width: 58.125%;
        gap: 0;
        margin: 64px 16px 0;
    }
}